In [1]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact
import matplotlib.pyplot as plt

In [2]:
#read json file from google drive
eft_aggregates_dataframe = pd.read_json("/Users/rosario/CondorFunds/condor_test/analytics/data_mining/data/2022-04-20_to_2024-04-18_eft_collected_aggregates_data_2024-04-19_23-57-28.json")

In [3]:
#convert json file to datafram
eft_aggregates_dataframe = pd.DataFrame(eft_aggregates_dataframe)

In [4]:
#confirm dataframe structure
eft_aggregates_dataframe.head()

,v,vw,o,c,h,l,t,n,ticker_id,date,name
0,5067144,409.6900,410.82,408.71,411.3900,407.67,1650427200000,103296,0,2022-04-20 04:00:00,VOO
1,4670153,407.5231,412.38,402.65,413.6800,401.80,1650513600000,111091,0,2022-04-21 04:00:00,VOO
2,6326437,395.9260,401.67,391.66,401.8850,391.10,1650600000000,207309,0,2022-04-22 04:00:00,VOO
3,8141182,388.8226,389.42,393.80,394.0584,385.00,1650859200000,200395,0,2022-04-25 04:00:00,VOO
4,8492984,386.2679,391.40,382.54,391.5900,382.44,1650945600000,212158,0,2022-04-26 04:00:00,VOO

In [5]:
def plot_stock_data(ticker):
    selected_stock_data = eft_aggregates_dataframe[eft_aggregates_dataframe['name'] == ticker]
    plt.figure(figsize=(10, 6))
    plt.plot(selected_stock_data['date'], selected_stock_data['c'], marker='o', linestyle='-')
    plt.title(f'Historical Closing Prices for {ticker}')
    plt.xlabel('Date')
    plt.ylabel('Closing Price')
    plt.xticks(rotation=45)
    plt.grid(True)
    plt.tight_layout()
    plt.show()

tickers = eft_aggregates_dataframe['name'].unique()

# Define interactive widget
ticker_dropdown = widgets.Dropdown(options=tickers, description='Ticker:')

# Use interact to dynamically update the plot based on the selected ticker
interact(plot_stock_data, ticker=ticker_dropdown)

interactive(children=(Dropdown(description='Ticker:', options=('VOO', 'VTI', 'SPY'), value='VOO'), Output()), â€¦