In [1]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact
import matplotlib.pyplot as plt

In [3]:
#read json file from google drive
stock_aggregates_dataframe = pd.read_json("/Users/rosario/CondorFunds/condor_test/analytics/data_mining/data/22-04-20_to_2024-04-18_stocks_collected_aggregates_data_2024-04-20_13-55-41.json")

In [4]:
#convert json file to datafram
stock_aggregates_dataframe = pd.DataFrame(eft_aggregates_dataframe)

In [5]:
#confirm dataframe structure
stock_aggregates_dataframe.head()

,v,vw,o,c,h,l,t,n,ticker_id,date,name
0,2026141.0,129.2028,127.71,129.37,130.32,126.84,1650427200000,27811.0,1,2022-04-20 04:00:00,A
1,2177667.0,127.2875,130.36,125.29,131.03,124.85,1650513600000,31582.0,1,2022-04-21 04:00:00,A
2,1947222.0,122.3324,124.77,121.32,125.10,121.15,1650600000000,33124.0,1,2022-04-22 04:00:00,A
3,2236881.0,120.1451,119.53,121.45,121.61,118.23,1650859200000,34196.0,1,2022-04-25 04:00:00,A
4,2931934.0,118.3588,121.00,117.94,121.28,117.24,1650945600000,39334.0,1,2022-04-26 04:00:00,A

In [6]:
def plot_stock_data(ticker):
    selected_stock_data = stock_aggregates_dataframe[stock_aggregates_dataframe['name'] == ticker]
    plt.figure(figsize=(10, 6))
    plt.plot(selected_stock_data['date'], selected_stock_data['c'], marker='o', linestyle='-')
    plt.title(f'Historical Closing Prices for {ticker}')
    plt.xlabel('Date')
    plt.ylabel('Closing Price')
    plt.xticks(rotation=45)
    plt.grid(True)
    plt.tight_layout()
    plt.show()

tickers = eft_aggregates_dataframe['name'].unique()

# Define interactive widget
ticker_dropdown = widgets.Dropdown(options=tickers, description='Ticker:')

# Use interact to dynamically update the plot based on the selected ticker
interact(plot_stock_data, ticker=ticker_dropdown)

interactive(children=(Dropdown(description='Ticker:', options=('A', 'AA', 'AACT', 'AACT.U', 'AACT.WS', 'AAN', â€¦